body {
    background: #f4f4f4;
    font: 400 14px CoreSans,Arial,sans-serif;
}
form {
    display: block;
    margin-top: 0em;
}
.interactions {
    text-align: center;
}
.table-header{
    display: -ms-flexbox;
    display: flex;
    line-height: 24px;
    font-size: 16px;
    padding: 0 10px;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.table-row {
    display: -ms-flexbox;
    display: flex;
    line-height: 24px;
    white-space: nowrap;
    margin: 10px 0;
    padding: 10px;
    background: #fff;
    border: 1px solid #e3e3e3;
}
